<h1 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home"> Numpy, Pandas and Visualization Mini Project </h1>

<h5 class="list-group-item list-group-item-action active" >1. Create a dataframe like the below format </h5>



|Identifier|    |Date|  |Code_For_Name||Full_Name|
|----------|----|----|--|-----------|------|----------|
|1| |1979 [1978]|   |K. K.| |Mickéy Mousé|
|2| |1868|  |L., L. L.| |Donald Duck|
|218|   |1869|  |RemaÊ¿.||Mini Mouse|
|472|   |1851|  |A'BECKETT, Gilbert Abbott.||Donald Duck|
|5| |1857|  |ABATI, Francesco.||Pink Panther|


>###### 1.A) Clean the `date` column as shown in below format without using replace function.

                                    **Sample Input**

|Date|
|----|
|1979 [1978]| 
|1868|
|1869| 
|1851|
|1857|

                                    **Sample Ouput**

|Date|
|----|
|1979| 
|1868|
|1869| 
|1851|
|1857|


>###### 1.B) Clean the `Code_For_Name` column as shown in below format without using replace function.

                                    **Sample Input**

|Code_For_Name|
|----|
|K. K.| 
|L., L. L.|
|Rema¿.| 
|A'BECKETT, Gilbert Abbott.|
|ABATI, Francesco.|

                                    **Sample Ouput**

|Code_For_Name|
|----|
|KK| 
|LLL|
|Rema| 
|GilbertAbbottAbeckett|
|FrancescoAbati|


>###### 1.C) Clean the `Full_Name` column as shown in below format.

                                    **Sample Input**

|Full_Name|
|----|
|Mickéy Mousé| 
|Donald Duck|
|Mini Mouse| 
|Donald Duck|
|Pink Panther|

                                    **Sample Ouput**

|Firstname||Lastname|
|----|----|----|
|Micky| |Mous|
|Donald||Duck|
|Mini| |Mouse|
|Donald||Duck|
|Pink||Panther|

####  1.A) Clean the `date` column as shown in below format without using replace function.

###### 1.B) Clean the `Code_For_Name` column as shown in below format without using replace function.

###### 1.C) Clean the `Full_Name` column as shown in below format.

<h5 class="list-group-item list-group-item-action active" >2. Read the dataset called Menu_list_Carbohydrates.csv dataset </h5>

> #### Dataset Content:
This dataset provides a nutrition analysis of every menu item on the Bangalore's famous restaurant's menu, including breakfast, beef burgers, chicken etc..

> ##### A. Display the dataset of dimensions,datatype, statistic summary.

> ##### B. Which are the top 10 items that have the least Carbohydrates?

> ##### C. Which are the top 10 items that have the most Carbohydrates?

> ##### D. Display the bar graph for the frequncy of Categories of food items and write your observations.

> ##### E. An Indian male requires 2500 calories in a day and a female requires 2000 calories in a day to maintain good  

> #####    lifestyle. Find the solutions as displayed in sample output1 and 2.

        Sample Output1:

        * Average calories of 'Beverages' category is 796.67
        * On an Average 'Beverages' contributes to men's calories intake  0.32
        * On an Average 'Beverages' contributes to women's calories intake  0.4

        Sample Output2:

        * Average calories of 'Coffee & Tea' category is 323.33
        * Averagely 'Coffee & Tea' contributes to men's calories intake for  0.13
        * Averagely 'Coffee & Tea' contributes to women's calories intake for  0.16
        
        Steps to get the output1
        1. For each item of Beverages display calorie and calculate the contribution of that food item in the male and females's daily calorie need. 
        2. Calculate average calories for the beverages category
        3. Calculate average contribution of calorie for male's requirement using beverages category
        4. Calculate average contribution of calorie for female's requirement using beverages category
        
        Steps to get the output2
        1. For each item of 'Coffee & Tea' display calorie and calculate the contribution of that food item in the male and    females's daily calorie need. 
        2. Calculate average calories for the 'Coffee & Tea' category
        3. Calculate average contribution of calorie for male's requirement using 'Coffee & Tea' category
        4. Calculate average contribution of calorie for female's requirement using 'Coffee & Tea' category

> ##### F. If you order grilled chicken rather than crispy chicken, what is the change in calorie intake?

            Step1:  Display the suitable graph for the number of calories in Crispy Chicken category

            Step2: Find the average calories for Crispy Chicken Category

            Step3: Display the suitable graph for the number of calories in Grilled Chicken category

            Step4: Find the average calories for Grilled Chicken Category

            Step5: Get the final visual comparison of Crispy vs Grilled on the basis of calories

            Step6: Write your observations.
            
> ##### G. Plot scatter plot between carbohydrates and calories

#### A. Display the dataset of dimensions,datatype, statistic summary.

#### B. Which are the top 10 items that have the least Carbohydrates?

#### C. Which are the top 10 items that have the most Carbohydrates?

#### D. Display the bar graph for frequncy of `Categories` of food items and write your observations.

#### E. An Indian male requires 2500 calories in a day and a female requires 2000 calories in a day to maintain good lifestyle. Find the solutions as displayed in sample output1 and 2.
    Sample Output1:

    * Average calories of 'Beverages' category is 796.67
    * On an Average 'Beverages' contributes to men's calories intake  0.32
    * On an Average 'Beverages' contributes to women's calories intake  0.4
    
    Steps to get the output1
    1. For each item of Beverages display calorie and calculate the contribution of that food item in the male and females's daily calorie need. 
    2. Calculate average calories for the beverages category
    3. Calculate average contribution of calorie for male's requirement using beverages category
    4. Calculate average contribution of calorie for female's requirement using beverages category

**Sample Output2**

* Average calories of 'Coffee & Tea' category is 323.33
* Averagely 'Coffee & Tea' contributes to men's calories intake for  0.13
* Averagely 'Coffee & Tea' contributes to women's calories intake for  0.16

    Steps to get the output2
    1. For each item of 'Coffee & Tea' display calorie and calculate the contribution of that food item in the male and    females's daily calorie need. 
    2. Calculate average calories for the 'Coffee & Tea' category
    3. Calculate average contribution of calorie for male's requirement using 'Coffee & Tea' category
    4. Calculate average contribution of calorie for female's requirement using 'Coffee & Tea' category

#### F. If you order grilled chicken rather than crispy chicken, what is the change in calorie intake?
        Step1:  Display the suitable graph for the number of calories in Crispy Chicken category

        Step2: Find the average calories for Crispy Chicken Category

        Step3: Display the suitable graph for the number of calories in Grilled Chicken category

        Step4: Find the average calories for Grilled Chicken Category

        Step5: Get the final visual comparison of Crispy vs Grilled on the basis of calories

        Step6: Write your observations.

##### Step1: Display the suitable graph for the number of calories in Crispy Chicken category

##### Step2: Find the average calories for Crispy Chicken Category

##### Step3: Display the suitable graph for the number of calories in Grilled Chicken category

##### Step4:Find the average calories for Grilled Chicken Category

##### Step 5: Get the final visual comparison of Crispy vs Grilled on the basis of calories

##### Step6: Write your observations

##### G. Plot scatter plot between carbohydrates and calories